/* color topic */
/* body{
font-family: Arial, Helvetica, sans-serif;
}
Main Heading{
    background-color: blue;
}
p{
    color:aliceblue
} */
.main-section{
    background-color: greenyellow;
}